[submodule "mexico"]
	path = mexico
	url = git@git.vauxoo.com:vauxoo/mexico.git
	branch = 12.0
[submodule "enterprise-mx"]
	path = enterprise-mx
	url = git@git.vauxoo.com:vauxoo/enterprise-mx.git
	branch = 12.0
